absl-py
alembic
astunparse
bottle
Brotli
brotlicffi
certifi
cffi
charset-normalizer
colorlog
contourpy
cycler
filelock
flatbuffers
fonttools
fsspec
gast==0.5.4
gmpy2
google-pasta
greenlet
grpcio
h5py
idna
importlib_metadata
iniconfig
Jinja2
joblib
kiwisolver
libclang
Mako
Markdown
MarkupSafe
matplotlib
mdurl
mkl-service
mkl_fft
mkl_random
ml_dtypes==0.3.2
mpmath
namex
networkx
numpy
opt_einsum
optree
optuna
optuna-dashboard
packaging
pathlib
pillow
pluggy
protobuf==4.25.3
pycparser
Pygments
pyparsing
PySocks
pytest
python-dateutil
PyYAML
requests
rich
scikit-learn
scipy
setuptools
sip
six
SQLAlchemy
sympy
tensorboard==2.16.2
tensorboard_data_server==0.7.2
tensorflow==2.16.1
termcolor==2.4.0
threadpoolctl
torch==2.5.1+cu121
torchaudio==2.5.1+cu121
torchvision==0.20.1+cu121
tornado
tqdm
triton==3.1.0
typing_extensions==4.8.0
unicodedata2
urllib3
Werkzeug
wheel==0.44.0
wrapt==1.14.1
zipp
